.formContainer {
  display: flex;
  gap: 18px;
  margin-top: 30px;
  margin-left: 163px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.style,
.style-price {
  &__control {
    width: 224px;
    border-radius: 14px;
    background-color: #f7f7fb;
  }

  &__dropdown-indicator {
    color: #121417;
    padding: 14px;
    cursor: pointer;
  }

  &__control--menu-is-open &__dropdown-indicator {
    transform: rotate(0.5turn);
  }

  &__value-container {
    color: #121417;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    padding-left: 18px;
    cursor: text;
  }

  &__menu {
    display: flex;
    background-color: #fff;
    border-radius: 14px;
    max-width: 224px;
    margin-top: 4px;
    padding: 14px 8px 14px 18px;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 224px;
    height: 272px;
    gap: 8px;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 8px;
      padding-right: 8px;
    }

    &::-webkit-scrollbar-thumb {
      height: 130px;
      border-radius: 10px;
      background: rgba(18, 20, 23, 0.05);
    }
  }

  &__option {
    color: rgba(18, 20, 23, 0.2);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    cursor: pointer !important;

    background-color: inherit;
    &--is-focused {
      color: #121417;
    }
  }
}

.style-price {
  &__control {
    width: 125px;
  }
}

.inputContainer {
  display: flex;
}

.input {
  width: 117px;
  border: none;
  padding-top: 14px;
  padding-bottom: 13px;
  border-radius: 0px 14px 14px 0px;
  background-color: #f7f7fb;
  color: #121417;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.11;
}
.input:focus {
  outline: none;
}

.inputFromContainer {
  display: flex;
  align-items: center;
  border-radius: 14px 0px 0px 14px;
  background-color: #f7f7fb;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  width: 141px;
  padding-left: 18px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.inputToContainer {
  display: flex;
  align-items: center;
  padding-left: 18px;
  border-radius: 0px 14px 14px 0px;
  background-color: #f7f7fb;
  border-left: 1px solid rgba(138, 138, 137, 0.2);
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
